<div class="main">
    <h class="subtitle">温かい食事をお届けします</h>
    <p class="sub">いつものお食事、特別なお食事、ちょっと小腹がすいたときにいかがですか？</p>
    <h2 class="all-eat"><%=link_to("商品一覧へ","/dish/all",class:"all")%></h2>
</div>
